h2{
    color: rgb(25, 45, 220);
}
h2{
    color: #ffff00;
}
h2{
    color: #ff0;
}
p{
    color: brown;
    text-align: center;

}
h1{
    text-align: center;
    color: red;
    font-family: Georgia;

}
h3{
    text-align: center;
    color: black;

}
a{
    text-decoration: none;
    color: blueviolet;

}
textarea{
    color: black;
}
span{
    text-decoration: underline;
    
}