*{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: #4474af;
}
#searchbtn{
    background-color: rgb(0,0,0);
    color: white;
}
.userbtn{
    background-color: aqua;
}
p::first-line{
    color:blue
}
p::selection{
    background-color:black;
}